body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: normal;
  color: #333;
}

h1, .h1 {
  font-size: 1.6em;
  text-align: center;
}


@media (min-width: 1800px) {
    .container {
        width: 1600px !important;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1400px !important;
    }
}

@media (min-width: 1200px) {
  .container {
    width: 1070px !important;
  }
}

div .alert {
    margin-top: 20px;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 8px !important;
  font-weight: 500;
  color: #000;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #000;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}

.header-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: normal;
    font-family: arial;
}
.header-slogan {
    font-size: 18px;
    color: #999;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: arial;
}

.header-info-container {
    text-align: center;
}

.header-info {
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-family: arial;
    border-width: 1px;
    border-style: solid;
    background-color: #eee !important;

    margin-left: auto;
    margin-right: auto;
    display: inline;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 4px;
  padding-bottom: 4px;
  /* text-align: center; */
}
.blog-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
}
.blog-description {
  font-size: 18px;
  color: #999;
  margin-bottom: 0.2em;
}

.nav-tabs {
    border-bottom: none !important;
} 

.nav-tabs>li>a {
    background-color: #eee !important;
}
.nav-tabs>li>a:hover {
    background-color: #fff !important;
}

.blog-post img {
    height: auto;
    width: 100%;
}

.gallery-image img {
    height: auto;
    width: 100%;
}

 
/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 1.5;
}

img.me-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

div.photo-contain {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

div.my-header p {
    vertical-align: middle;
}

div.clear {
    clear: both;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 15px -15px 15px;
  border-style: solid;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 20px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 28px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

form.blockInputs > input,
form.blockInputs > textarea
{
    display: block;
    width: 100%;
}

form.blockInputs > textarea {
    height: 40em;
}

form.blockInputs > input[type=submit] {
    margin-top: 1em;
}


/*
 * Footer
 */

.blog-footer {
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/*
 * Login box
 */
.login-box {
  padding-top: 20px;
}

table.postsTable tr td.date {
    padding-right: 0.4em;
    text-align: center;
}

table.imagesTable tr td.date {
    padding-right: 0.4em;
    text-align: center;
}

table.imagesTable tr.xyz td.last {
    padding-right: 0.4em;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 0.4em;
}

table.sidebarTable tr td.icon {
    padding-right: 0.4em;
    text-align: center;
}

/* Pandoc below */

a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; position: absolute; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; }
pre.numberSource a.sourceLine:empty
  { position: absolute; }
pre.numberSource a.sourceLine::before
  { content: attr(data-line-number);
    position: absolute; left: -5em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
  {  }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
